.home {
    width: 100%;
    background-color: $color-tertiary;
}

.section-welcome {
    display: inline-flex;
    width: 100%;
    height: 89vh;

    &__parallax {
        display: inline-block;
        width: 60%;
        background-image: url("../images/gym_1.jpg");
        background-attachment: fixed;
        background-position-x: -40rem;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__information {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        height: 100%;
        color: $color-fourth;
        padding: 3rem 6rem;
    }
}

.section-philosophy {
    padding: 5.5rem;
    height: 95vh;

    &__content {
        height: 100%;
        max-width: 100%;
        background-image: url("../images/gym_2.jpg");
        background-position: bottom;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        width: 100%;
        height: 100%;
        padding: 6rem 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: brightness(60%);
        -webkit-backdrop-filter: brightness(60%);
        text-align: center;
    }
}

.section-videos {
    background-color: $color-black;
    padding: 11rem 50rem;

    &__content {
        width: 100%;
        height: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 56.25%;

        video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__controls {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2.5rem;
            z-index: 3;

            &:hover {
                .ico-arrow,
                .pause-show {
                    opacity: 1;
                    visibility: visible;
                    cursor: pointer;
                }
            }

            &__center {
                position: relative;
                width: 60px;
                height: 60px;

                .svg-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &__show {
                opacity: 1;
                visibility: visible;
                transition: all .4s ease-in-out;
                cursor: pointer;
            }

            &__hide,
            .pause-show {
                opacity: 0;
                visibility: visible;
                cursor: default;
                transition: all .4s ease-in-out;
            }

            .ico-arrow {
                opacity: 0;
                visibility: hidden;
                cursor: default;
                transition: all .4s ease-in-out;
            }

            .ico-arrow-hidden {
                opacity: 0;
                visibility: hidden;
                cursor: default;
            }

            .svg-icon {
                width: 60px;
                height: 60px;
                fill: $color-white;
            }
        }
    }
}

.section-history {
    height: 92vh;
    background-image: url("../images/gym_3.jpg");
    background-position: bottom;
    background-size: cover;

    &__content {
        width: 100%;
        height: 100%;
        padding: 4rem 6rem;
        backdrop-filter: brightness(50%);
        -webkit-backdrop-filter: brightness(50%);
        position: relative;

        &__text {
            max-width: 70rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}
